
# DATA & MODEL FILES (GENERATED / LARGE FILES)

# Raw & processed datasets
Data/images/
Data/metadata/
Data/processed/
Data/artifacts/

# Training outputs
checkpoints/
lightning_logs/

# Model weights
models/
*.ckpt
*.pt
*.pth

# PYTHON & ENVIRONMENT

venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# Python cache folders
.pytest_cache/
.mypy_cache/

# NOTEBOOK TEMP FILES

.ipynb_checkpoints/

# OS & EDITOR FILES


.DS_Store
Thumbs.db
.vscode/
.idea/