# --- Data and Model Weights (NEVER TO BE REMOVED) ---
Data/images/
Data/metadata/
checkpoints/
lightning_logs/

# --- Python and Environment Files ---
venv/
.env
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

# --- Notebooks ---
notebooks/v3_dermatolog.ipynb
notebooks/v2_dermatolog.ipynb
notebooks/v1_dermatolog.ipynb