#DATA & MODEL FILES 

/data/



# Model weights and checkpoint files

models/

checkpoints/

*.ckpt

*.pt

*.pth

lightning_logs/



#PYTHON & ENVIRONMENT 



/venv/

.env

__pycache__/

*.pyc

*.pyo

*.pyd

.pytest_cache/

.mypy_cache/



#NOTEBOOK TEMP FILES



.ipynb_checkpoints/



#OS & EDITOR FILES



.DS_Store

Thumbs.db

.vscode/

.idea/

src/legacy/



#PROJECT SPECIFIC



mlflow.db



nginx/.htpasswd



evaluation/*.png

evaluation/*.json

.vscode/

assets/result/

assets/ui

test_samples/




experiments/


outputs/