--extra-index-url https://download.pytorch.org/whl/cpu

# --- Core Frameworks ---
fastapi
uvicorn[standard]
pydantic
python-dotenv

# --- Database ---
SQLAlchemy
psycopg2-binary
python-multipart

# --- AI & Deep Learning ---
torch
torchvision
pytorch-lightning
torchmetrics
onnxruntime
ultralytics
transformers

# --- Machine Learning & Data ---
scikit-learn
xgboost
joblib
pandas
numpy

# --- Image Processing ---
opencv-python-headless
Pillow
albumentations

# --- Monitoring & Visualization ---
matplotlib
seaborn
tqdm
mlflow

# --- Frontend & Security ---
streamlit
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
requests

# --- Testing ---
pytest
pytest-mock


#--- LLM---
anthropic